div.parent {

}

div.header {
	background-color: #9ccc65;
	margin: 1%;
	padding: 1%;
}

div.body {

}

div.sidebar {
	background-color: #9ccc65;
	margin: 1%;
	padding: 1%;
}

div.block-center {
	background-color: #9ccc65;
	margin: 1%;
	padding: 1%;
}

div.footer {
	background-color: #9ccc65;
	margin: 1%;
	padding: 1%;
}