/*
	Author:			Cyrus
	Created on:		2016 11 06
	Last modified:	2016 11 06
*/

/* variables */
:root {
  --color1: #555;
  --color2: #ffffff;
  --color3: #f1f1f1;
}

body {
  background-color: var(--color1);
}

/* Set black background color, white text and some padding */
footer {
  background-color: var(--color1);
  color: white;
  padding: 15px;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content, .row {
  height: auto;
  background-color: var(--color2);
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {

  .sidenav {
    height: auto;
    padding: 15px;
    background-color: var(--color3);
  }

  .row.content {
    height:auto;
  } 

}

/* Material Icon */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons {
  display: inline-flex;
  vertical-align: top;
}

.footer {
	padding:10px;
	color:white;
}

.footer td {
	padding-right:100px;
}

.footer a, .footer a:hover{
	color:white;
}