/*
	Author:			Cyrus
	Created on:		2016 11 06
	Last modified:	2016 11 06
*/
body {
  background-color: #555;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: auto;
  background-color: #ffffff;
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
    background-color: #f1f1f1;
  }
  .row.content {
    height:auto;
  } 
}

table.form {

}