/node_modules
/public/hot
/vendor/bin
/vendor/composer
/vendor/dnoegel
/vendor/egulias
/vendor/erusev
/vendor/fideloper
/vendor/filp
/vendor/fzaninotto
/vendor/hamcrest
/vendor/jakub-onderka
/vendor/laravel
/vendor/league
/vendor/mockery
/vendor/monolog
/vendor/mtdowling
/vendor/myclabs
/vendor/nesbot
/vendor/nikic
/vendor/paragonie
/vendor/phar-io
/vendor/phpdocumentor
/vendor/phpspec
/vendor/phpunit
/vendor/psr
/vendor/psy
/vendor/ramsey
/vendor/sebastian
/vendor/swiftmailer
/vendor/symfony
/vendor/theseer
/vendor/tijsverkoyen
/vendor/vlucas
/vendor/webmozart
/vendor/autoload.php
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/storage/homepage1.jpg
public/storage/homepage2.jpg
public/storage/homepage3.jpg
