.title {
    font-size:36px;
    opacity:0.87;
    font-weight:bold;
    line-height:1.5;
    letter-spacing:-0.4px;
    color:#1e1e1e;
    margin:0;
}

.subtitle {
    font-size:20px;
    line-height:1.6;
    opacity:0.87;
    color:#1e1e1e;
    margin:20px 0px 0px 0px;
}

.btn-send {
  background-color: #9CCC65 !important;
}

.btn-reset{
  background-color: #808080 !important;
  color: white;
}

.map-card {
  background-color: #f5f5f5;
  padding: 20px;
}

.map-form{
    margin-top:40px;
}
.map-form h2{
    margin:30px 0px 0px 0px;
    font-size:24px;
    line-height:1.5;
    font-weight:bold;
    opacity:0.5;
    letter-spacing:-0.4px;
    color:#1e1e1e;
}
.map-form h3{
    margin:20px 0px 0px 0px;
    font-size:16px;
    font-weight:500;
    line-height:1.5;
    color:#1e1e1e;
    opacity:0.5;
}
.map-form p{
    margin:10px 0px 0px 0px;
    opacity:0.87;
    font-size:16px;
    line-height:1.5;
    color:#1e1e1e;
}

.map-form .form {
    padding:20px;
    background-color:#f0f0f2;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
    margin-bottom:20px;
}

.map-form .form__row {
  position: relative;
  margin-bottom: 20px;
}

.map-form .form__field {
  display: block;
  width: 100%;
  color: #1e1e1e;
  height: 50px;
  position: relative;
  padding: 10px;
  border: 1px solid #8f8f8f;
  text-indent: 0;
  -webkit-appearance: none;
  border-radius: 3px;
  background: #fff;
  transition: all .2s linear;
}
.map-form .form__field:focus {
    outline: 0;
  }
/*  
.map-form .form__field:required:valid {
    border: 2px solid #46af91;
  }

.map-form .form__field:focus:required:invalid {
    border: 2px solid #e04f42;
  }
*/
.map-form .form__field--select {
  padding: 8px;
  color: #acacae;
  width:auto;
  cursor:pointer;
  height:40px;
  min-width:126px;
}

.map-form option {
  color: #333;
}

.map-form .ph-small {
    transition: all .2s;
    color: #8f8f8f;
    font-size: 10px;
    line-height: 1.6;
    margin-top: 2px;
    margin-left: 7px;
    position: absolute;
    z-index: 10;
    white-space: nowrap;
    color:#00b6ca;
}

.map-form .ph-big {
  font-size: 16px !important;
  margin: 11px 0px 15px 7px !important;
  color:#8f8f8f !important;
}

.map-form .form__submit {
    padding: 8px 24px;
    text-align: center;
    line-height: 1.5;
    background-color: #00b6ca;
    color: #f0f0f2;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    font-weight: bold;
}
.map-form .form__title{
    font-size:14px;
    font-weight:bold;
    color:#1e1e1e;
    opacity:0.5;
    margin-bottom:10px;
}
.map-form .form__message{
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    color: #1e1e1e;
    border: solid 1px #8f8f8f;
    border-radius: 3px;
    padding: 12px 8px;
    min-height: 200px;
    resize: none;
}
.map-form .form__message:focus{
    outline:none;
}

