html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 20vh; /* Margin bottom by footer height */
  background: linear-gradient(white, #8BC34A 200%);
}

p{
  color: #404040;
}

.row-striped:nth-of-type(odd) {    
background-color: #9CCC65;    
border-left: 4px #D1D0CE solid;   
}    
  
.row-striped:nth-of-type(even){    
background-color: #D1D0CE;    
border-left: 4px #9CCC65 solid;   
}

.row-striped {   
padding: 15px 0;    
}

.color {
  color:black;
}

.badge-info{
  background-color: #404040;
}

.announcement-title{
  color: #0C090A;
}

.page-title, .contact-title{
  color: #404040;
}

.navbar-dark{
  background-color: #404040 !important;
}

.top-navbar-item{
  color: white !important;
}

.nav-link-tabs{
  color: black !important;
  background-color: transparent !important;
  border-bottom: transparent !important;
}

.navbar-brand{
  color: #8BC34A !important;
}

.btn-search{
  background-color: #788F9B !important;
}

.btn-primary{
  background-color: #404040 !important;
  border-color: #404040 !important;
  color: white !important;
}

.btn-browse{
  background-color: #8BC34A;
  color: white !important;
}

.projects-no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.projects-card-size{
   margin-right: 10px;
   margin-bottom: 10px;
   width: 30em;
}

.projects-link{
  color: #404040 !important;
}

.footer-title{
  color: #8BC34A;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh; /* Set the fixed height of the footer here */
  color: black;
  background-color: #404040;
}

.footer-style {
  padding:10px;
  color: white;
}

.footer-style td {
  padding-right: 10vh;
}

.footer-style a, .footer-style a:hover{
  color: white;
}

.banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}
.profile-pic {
  height: 100%;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.accountbio {
  margin-left: 40px;
}
.editbio{
  width:100%;
  display: block;
}